<html>
    <head>
    <title>Cadastro de Filmes</title>
</head>
    <body>
        <script></script>
        <p><h1>Minha primeira Pagina</h1></p></br>
    </br>
    </br>
    </br>   
        <p><h2>Aqui você cadastra seus filmes favoritos</h2></p></br>
    </br>
    </br>
    <input type="submit" value="Cadastrar Filmes" onclick="location. href= 'http://khauduro.pythonanywhere.com/admin/' "> 
    </br>
    </br>
    </br>
    <video alt="Rhyming Leonardo Dicaprio GIF" src="https://media.giphy.com/media/g9582DNuQppxC/giphy.mp4" poster="https://media.giphy.com/media/g9582DNuQppxC/giphy_s.gif" autoplay="" loop="" playsinline="" style="width: 480px; height: 270px; left: 0px; top: 0px;"></video>
    <div><img src="projetosdjango\meublog\filmes\Templates\giphy.gif" style="height:300px; width:300px; left: 0px; top: 0px; opacity: 0;"></div>
    </script>
    </body>
</html>